@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/** font-family: 'Roboto', sans-serif; **/
/** font-family: 'Bebas Neue', cursive; **/

body
{
   margin:0;
   padding: 0; 
}
nav {
    box-shadow: 0px 1px 6px 0px #bdb7b7;
    height: 72px;
}
.container
{
    width: 1180px;
    margin: auto;

 
}
.container ul
{
    text-decoration: none;
    list-style: none;
    float:right;
    margin-right: 20px;
    margin-top:24px;
}
.container ul li a
{
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    color: #3c3c3c;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.container ul li
{
    float: left;
}
.logo
{
    width: 70px;
    float: left;
    margin-left: 5px;
}
img
{
    width: 100%;
}
.left
{
    width: 50%;
    float: left;
}
.right
{
    width: 50%;
    float: right;
}